# Normalization
MinMax normalization

Z(norm) = (Z - Zmin) / (Zmax - Zmin)

In [1]:
import numpy as np
import pandas as pd

In [42]:
df_ = pd.read_csv('C://Users//Dell//Desktop//PracticeProjects//winequalityN.csv', usecols=[0,1,4])

In [43]:
df_

       type  fixed acidity  residual sugar
0     white            7.0            20.7
1     white            6.3             1.6
2     white            8.1             6.9
3     white            7.2             8.5
4     white            7.2             8.5
...     ...            ...             ...
6492    red            6.2             2.0
6493    red            5.9             2.2
6494    red            6.3             2.3
6495    red            5.9             2.0
6496    red            6.0             3.6

[6497 rows x 3 columns]

In [44]:
df_['type'] = df_['type'].replace({
    'white':0,
    'red':1
})

In [45]:
df_.head()

   type  fixed acidity  residual sugar
0     0            7.0            20.7
1     0            6.3             1.6
2     0            8.1             6.9
3     0            7.2             8.5
4     0            7.2             8.5

In [46]:
from sklearn.preprocessing import MinMaxScaler

In [47]:
scaler = MinMaxScaler()
scaler.fit_transform(df_[['fixed acidity','residual sugar']])

array([[0.26446281, 0.30828221],
       [0.20661157, 0.01533742],
       [0.3553719 , 0.09662577],
       ...,
       [0.20661157, 0.02607362],
       [0.17355372, 0.02147239],
       [0.18181818, 0.04601227]])

# standardization

z-score normalization

z =(X - std.Mean) / (std.div)

In [48]:
from sklearn.preprocessing import StandardScaler

In [49]:
scale = StandardScaler()

In [50]:
scale.fit_transform(df_[['fixed acidity','residual sugar']])

array([[-0.16702991,  3.20648343],
       [-0.70688264, -0.8080121 ],
       [ 0.68131011,  0.30595786],
       ...,
       [-0.70688264, -0.660884  ],
       [-1.01536992, -0.7239389 ],
       [-0.9382481 , -0.38764608]])